.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: $white;
}

.button--down {
  padding: 0;

  font-family: "Open Sans";
  font-size: 11px;
  line-height: 100%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3.5px;
}
