.company {
  width: 250px;
  max-width: 250px;
}

.company__title {
  margin: 0;
  margin-bottom: 19px;

  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.85px;
  font-weight: 400;
  text-transform: uppercase;
}

.company__logo {
  margin-bottom: 15px;
}

.company__text {
  margin: 0;
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
  font-weight: 400;
}
