.container {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 250px 0 250px;
}

/*@media (min-width: $tablet-width) {
  .container {
    padding: 0;
  }
}*/

/*@media (min-width: $desktop-width) {
  .container {
    max-width: $max-width;
  }
}*/
