.contacts {
  width: 140px;
  max-width: 140px;
}

.contacts__title {
  margin: 0;
  margin-bottom: 19px;

  color: $white;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0.85px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.85px;
}
.contacts__phone a,
.contacts__email a {
  color: $white;
}
