@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue Regular"), local("BebasNeue-Regular");
  src:
    url("../fonts/bebasneue/bebasneueregular.woff2") format("woff2"),
    url("../fonts/bebasneue/bebasneueregular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "BebasNeue";
  src: local("BebasNeue Bold"), local("BebasNeue-Bold");
  src:
    url("../fonts/bebasneue/bebasneuebold.woff2") format("woff2"),
    url("../fonts/bebasneue/bebasneuebold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
