.get-in-touch .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.get-in-touch {
  min-height: 500px;
  padding-top: 120px;

  background-color: #ccc;
  background-image: url("../../img/bg.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.get-in-touch__title {
  width: 350px;
  margin: 0;
  margin-bottom: 35px;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
}
