.links {
  width: 262px;
  max-width: 262px;
  margin-right: 58px;
}

.links__title,
.links__link {
  margin: 0;

  color: $white;
  font-size: 11px;
  letter-spacing: 0.85px;
  font-weight: 400;
  text-transform: uppercase;
}

.links__title {
  margin-bottom: 19px;
  line-height: 100%;
}

.links__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.links__link {
  margin-bottom: 0;
  line-height: 25px;
  letter-spacing: 0.85px;
}
