.page {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  background-color: $bg-color;

  font-family: 'Open Sans', sans-serif;
  color: $gray48;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.19px;
}
